@model SmartWatch_MVC.Models.TNhanVien

@{
    ViewData["Title"] = "SuaNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SmartWatch_MVC.Models;

<h1>Sửa nhân viên</h1>
<hr />


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form method="post" class="form-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            
                            <label asp-for="MaNhanVien" class="col-sm-3 col-form-label">Mã nhân viên</label>
                            <div class="col-sm-9">
                                <input asp-for="MaNhanVien" type="text" class="form-control" disabled />
                            </div>
                            <span asp-validation-for="MaNhanVien" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="TenNhanVien" class="col-sm-3 col-form-label">Tên nhân viên</label>
                            <div class="col-sm-9">
                                <input asp-for="TenNhanVien" type="text" class="form-control" />
                            </div>
                            <span asp-validation-for="TenNhanVien" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="GioiTinh" class="col-sm-3 col-form-label">Giới tính</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Nam</option>
                                    <option>Nữ</option>
                                </select>
                            </div>
                            <span asp-validation-for="GioiTinh" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="NgaySinh" class="col-sm-3 col-form-label">Ngày sinh</label>
                            <div class="col-sm-9">
                                <input asp-for="NgaySinh" class="form-control" placeholder="dd/mm/yyyy" />
                            </div>
                            <span asp-validation-for="NgaySinh" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="SoDienThoai" class="col-sm-3 col-form-label">Số điện thoại 1</label>
                            <div class="col-sm-9">
                                <input asp-for="SoDienThoai" type="text" class="form-control" />
                            </div>
                            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                        </div>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DiaChi" class="col-sm-3 col-form-label">Địa chỉ</label>
                            <div class="col-sm-9">
                                <input asp-for="DiaChi" type="text" class="form-control" />
                            </div>
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="ChucVu" class="col-sm-3 col-form-label">Chức vụ</label>
                            <div class="col-sm-9">
                                <input asp-for="ChucVu" type="text" class="form-control" />
                            </div>
                            <span asp-validation-for="ChucVu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ảnh nhân viên</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control file-upload-info">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="GhiChu" class="col-sm-3 col-form-label">Ghi chú</label>
                            <div class="col-sm-9">
                                <input asp-for="GhiChu" type="text" class="form-control" />
                            </div>
                            <span asp-validation-for="ChucVu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="DanhMucNhanVien">Back to List</a>
</div>

