

@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SmartWatch_MVC.Models;
@model SmartWatch_MVC.Models.TDanhMucSp;

<h2>Thêm sản phẩm mới</h2>
<hr />

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-description">Nhập thông tin sản phẩm</p>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label asp-for="MaSp" class="control-label">Mã sản phẩm</label>
                    <input asp-for="MaSp" class="form-control"  placeholder="Mã sản phẩm" />
                    <span asp-validation-for="MaSp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TenSp" class="control-label">Tên sản phẩm</label>
                    <input asp-for="TenSp" class="form-control" placeholder="Tên sản phẩm" />
                    <span asp-validation-for="TenSp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaChatLieu" class="control-label">Mã chất liệu</label>
                    <select asp-for="MaChatLieu" class="form-control" asp-items="ViewBag.MaChatLieu"></select>
                    <span asp-validation-for="MaChatLieu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NganLapTop" class="control-label">Ngắn Lập Top</label>
                    <input asp-for="NganLapTop" class="form-control" placeholder="Ngan lap top" />
                    <span asp-validation-for="NganLapTop" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label">Model</label>
                    <input asp-for="Model" class="form-control" placeholder="Model" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CanNang" class="control-label">Trọng lượng</label>
                    <input asp-for="CanNang" class="form-control" placeholder="Trọng lượng" />
                    <span asp-validation-for="CanNang" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DoNoi" class="control-label">Độ nới</label>
                    <input asp-for="DoNoi" class="form-control" placeholder="Độ nới" />
                    <span asp-validation-for="DoNoi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaHangSx" class="control-label">Mã hãng sản xuất</label>
                    <select asp-for="MaChatLieu" class="form-control" asp-items="ViewBag.MaHangSX"></select>
                    <span asp-validation-for="MaHangSx" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaNuocSx" class="control-label">Mã nước sản xuất</label>
                    <select asp-for="MaChatLieu" class="form-control" asp-items="ViewBag.MaNuocSX"></select>
                    <span asp-validation-for="MaNuocSx" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaDacTinh" class="control-label">Mã đặc tính</label>
                    <select asp-for="MaChatLieu" class="form-control" asp-items="ViewBag.MaDacTinh"></select>
                    <span asp-validation-for="MaDacTinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="control-label">Website</label>
                    <input asp-for="Website" class="form-control" placeholder="website" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThoiGianBaoHanh" class="control-label">Thời gian bảo hành</label>
                    <input asp-for="ThoiGianBaoHanh" class="form-control" placeholder="Thời gian bảo hành" />
                    <span asp-validation-for="ThoiGianBaoHanh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GioiThieuSp" class="control-label">Giới thiệu sản phẩm</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    <span asp-validation-for="GioiThieuSp" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                <label asp-for="AnhDaiDien" class="control-label"></label>
                <input asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ChietKhau" class="control-label">Chiết khấu</label>
                    <input asp-for="ChietKhau" class="form-control" placeholder="Triết khấu" />
                    <span asp-validation-for="ChietKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaLoai" class="control-label">Mã loại</label>
                    <select asp-for="MaChatLieu" class="form-control" asp-items="ViewBag.MaLoai"></select>
                    <span asp-validation-for="MaLoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GiaNhoNhat" class="control-label">Giá nhỏ nhất</label>
                    <input asp-for="GiaNhoNhat" class="form-control" placeholder="Giá nhỏ nhất" />
                    <span asp-validation-for="GiaNhoNhat" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="GiaLonNhat" class="control-label">Giá lớn nhất</label>
                    <input asp-for="GiaLonNhat" class="form-control" placeholder="Giá lớn nhất" />
                    <span asp-validation-for="GiaLonNhat" class="text-danger"></span>
                </div>
               
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="DanhMucSanPham">Back to List</a>
</div>

